.ffContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  position: relative;
}

.gridWrapper {
  width: calc(100% - 180px) !important;
  margin: auto;
  padding: 0 !important;
}

.xxx {
  padding-left: 40px !important;
}

.title {
  font-size: 20px !important;
  margin-bottom: 24px !important;
}

.notConnectedContent {
  width: 100%;
  min-height: 60vh;
  background: rgba(17, 23, 41, 0.2) !important;
  text-align: center;
  box-shadow: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 0 !important;
}

.contentFloat {
  position: relative;
  z-index: 9;
}

.overviewIcon {
  font-size: 100px !important;
  margin-bottom: 30px;
  margin-top: -80px;
}

.mainHeading {
  margin: 50px auto 0px auto !important;
  text-align: left !important;
  font-size: 20px !important;
  width: calc(100% - 180px) !important;
}

.mainDesc {
  margin: 20px auto 0px auto !important;
  text-align: left !important;
  color: rgb(104, 108, 122);
  font-size: 14px !important;
  width: calc(100% - 180px) !important;
}

.mainHeadingNC {
  text-align: center !important;
  font-size: 30px !important;
  font-family: 'Monument' !important;
  font-weight: 100 !important;
  color: #fff;
}

.mainDescNC {
  margin: 30px auto !important;
  text-align: center !important;
  color: #7e99b0;
  font-size: 18px !important;
  max-width: 800px;
  line-height: 1.8rem !important;
}

.buttonConnect {
  height: 50px;
}

@media screen and (max-width: 1280px) {
  .xxx {
    padding-left: 0px !important;
  }
}

@media screen and (max-width: 1200px) {
  .gridWrapper {
    width: calc(100% - 80px) !important;
    margin: 290px auto 60px auto;
    padding: 0 !important;
  }

  .xxx {
    padding-left: 0px !important;
  }
}

@media screen and (max-width: 960px) {
  .gridWrapper {
    margin: 490px auto 60px auto;
  }
}

@media screen and (max-width: 600px) {
  .mainHeadingNC {
    text-align: center !important;
    font-size: 24px !important;
  }

  .mainDescNC {
    font-size: 15px !important;
    line-height: 1.4rem !important;
  }

  .overviewIcon {
    font-size: 80px !important;
  }
}
